<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="user.username"></h1>
        <h3 ng-bind="user.typeOfUser | uppercase"></h3>
        <img ng-src="{{user.profileImageURL}}" alt="Profile Image" width="100px;" height="100px;">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>First Name</strong></div>
        <div class="col-md-6" ng-bind="user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-6" ng-bind="user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6">
          <a ng-bind="user.email" ui-sref="user.email"></a>
        </div>
      </div>
      <hr/>

    <div class="row">
      <div class="col-md-3"><strong>Description</strong></div>
      <div class="col-md-6" ng-bind="user.description"></div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-3"><strong>Classes</strong></div>
      <div class="col-md-6" ng-bind="'Classes: ' + user.classes.join(', ')"></div>
    </div>
    <hr/>
    <button class="commentButton" ng-init="showComments = false" ng-click="showComments = !showComments" class="btn btn-default"> Show comments </button>
    <div class="commentContainer" ng-show = "showComments">
      <div class="list-group-item" data-ng-repeat="comment in users.comments">
          <a data-ng-if="comment._id" ng-href="/users/{{comment._id}}">
            <img data-ng-if="comment.profileImageURL" ng-src="{{comment.profileImageURL}}" alt="Profile Image" width="20px;" height="20px;">
            <span data-ng-bind="comment.displayName"></span>
          </a>
          <span data-ng-bind="comment.time | date:'medium'"></span>
          <p style="padding-top:10px; text-indent:30px;" data-ng-bind="comment.text"></p>
      </div>
      <div class="form-group">
        <label for="newComment">Comment:</label>
        <textarea class="form-control" ng-model="users.commentSubmission" rows="5" class="newComment"></textarea>
      </div>
      <button class="submitCommentButton" ng-click="FIXTHIS.saveComment(user)" class="btn btn-default"> Submit comment </button>
    </div>
   </div>
  </div>
</section>
