<section>
  <div class="page-header">
    <h1>All Office Hours</h1>
    <h3 data-ng-if="user"> Participating as a <span ng-bind='user.typeOfUser | uppercase'></span> </h3>
    <h4 data-ng-if="!user"> If you've just logged in for the first time, please refresh the page to see your user type. </h4>
    <div>
      <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
    </div>
  </div>
  <br />
  <div class="list-group" data-ng-repeat="officehour in pagedItems">
    <a data-ui-sref="officehours.view({ officehourId: officehour._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Requested on
        <span data-ng-bind="officehour.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="officehour.user" data-ng-bind="officehour.user.displayName"></span>
        <span data-ng-if="!officehour.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="officehour.class | uppercase"></h4>
      Time: <div class="list-group-item" data-ng-bind="officehour.time | date:'medium'"></div>
      Location: <div class="list-group-item" data-ng-bind="officehour.location"></div>
      </a>

      Students interested: <div class="list-group-item">
        <div data-ng-if = "officehour.students.length > 1" data-ng-bind="officehour.students.length + ' students are interested in this office hour:'"></div>
        <div data-ng-if = "officehour.students.length == 1" data-ng-bind="'1 student is interested in this office hour:'"></div>
        <div data-ng-if = "officehour.students.length == 0" data-ng-bind="'No students are interested in this office hour.'"></div>

      <!-- Iterate through the students -->
      <span data-ng-repeat="student in officehour.students">
        <div>
          <a data-ng-if="student._id" ng-href="/users/{{student._id}}">
        <img data-ng-if="student.profileImageURL" ng-src="{{student.profileImageURL}}" alt="Profile Image" width="20px;" height="20px;">
        <span data-ng-bind="student.displayName"></span>
      </a>

      <a data-ng-if="!student._id" ng-href="/users/{{officehour.user._id}}">
        <span data-ng-if="!student.displayName" data-ng-bind="officehour.user.displayName + ' (creator)'"></span>
    </a>
      </div>
      </span>

    </div>

      <br />


    <div data-ng-if="user.typeOfUser == 'professor' && !officehour.professor">
      <div name="professor" ng-bind="user._id" ng-model="officehour.professor" id="professor" hidden></div>
     <button id="profButon" ng-click="vm.save(officehour)" class="btn btn-default"> Participate in this office hour </button>
   </div>

     <button id="taButton" ng-click="vm.save(officehour)" data-ng-if="user.typeOfUser == 'ta'" class="btn btn-default"> Participate in this office hour </button>

     <button id="studentButton" ng-click="vm.save(officehour)" data-ng-if="user.typeOfUser == 'student' && officehour.user._id != user._id" class="btn btn-default"> I'm interested in this office hour </button>

      <br />
      <div class="alert alert-danger" data-ng-if="!officehour.professor">No professor signed up yet.</div>
      <div class="alert alert-success" data-ng-if="officehour.professor">
      <span data-ng-if="!officehour.professor.toString().contains('[')">
        <a ng-bind="officehour.professorName" ng-href="/users/{{officehour.professor}}"></a> is
      </span>
      <span data-ng-if="officehour.professor.toString().contains('[')" ng-bind="'You are'"></span>
      signed up for this office hour.
    </div>
      <div class="alert alert-warning" data-ng-if="!officehour.tas.length">No TAs signed up yet.</div>
      <div class="alert alert-success" data-ng-if="officehour.tas.length > 1" data-ng-bind="officehour.tas.length.toString() + ' TAs have signed up for this office hour.'"></div>
      <div class="alert alert-success" data-ng-if="officehour.tas.length == 1" data-ng-bind="'1 TA has signed up for this office hour.'"></div>

  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.officehours.$resolved && !vm.officehours.length">
    No Office hours yet, why don't you <a data-ui-sref="officehours.create">create one</a>?
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>

</section>
