<section>
  <div class="page-header">
    <h1>Officehours</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="officehour in vm.officehours"
       data-ui-sref="officehours.view({ officehourId: officehour._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="officehour.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="officehour.user" data-ng-bind="officehour.user.displayName"></span>
        <span data-ng-if="!officehour.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="officehour.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.officehours.$resolved && !vm.officehours.length">
    No Officehours yet, why don't you <a data-ui-sref="officehours.create">create one</a>?
  </div>
</section>
