<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.officehour.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.officehour.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="officehours.edit({ officehourId: vm.officehour._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Requested on
      <span data-ng-bind="vm.officehour.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.officehour.user"
            data-ng-bind="vm.officehour.user.displayName"></span>
      <span data-ng-if="!vm.officehour.user">Deleted User</span>
    </em>
  </small>
  <h4 class="list-group-item-heading" data-ng-bind="vm.officehour.class | uppercase"></h4>
  Time: <div class="list-group-item" data-ng-bind="vm.officehour.time | date:'medium'"></div>
  Location: <div class="list-group-item" data-ng-bind="vm.officehour.location"></div>

  Students interested: <div class="list-group-item">
    <span data-ng-bind="vm.officehour.students.length"></span>
  </div>

  <br />
  <div data-ng-if="user.typeOfUser == 'professor' && !vm.officehour.professor">
    <div name="professor" ng-bind="user._id" ng-model="vm.officehour.professor" id="professor" hidden></div>
   <button id="profButon" ng-click="vm.save(officehour)" class="btn btn-default"> Participate in this office hour </button>
 </div>

 <button id="taButton" ng-click="vm.save(officehour)" data-ng-if="user.typeOfUser == 'ta'" class="btn btn-default"> Participate in this office hour </button>
 <button id="studentButton" ng-click="vm.save(officehour)" data-ng-if="user.typeOfUser == 'student'" class="btn btn-default"> I'm interested in this office hour </button>

  <br />

  <div class="alert alert-danger" data-ng-if="!vm.officehour.professor">No professor signed up yet.</div>
  <div class="alert alert-success" data-ng-if="vm.officehour.professor">
  <span data-ng-if="!vm.officehour.professor.toString().contains('[')" ng-bind="vm.officehour.professorName + ' is'"></span>
  <span data-ng-if="vm.officehour.professor.toString().contains('[')" ng-bind="'You are'"></span>
  signed up for this office hour.
</div>
  <div class="alert alert-warning" data-ng-if="!vm.officehour.tas.length">No TAs signed up yet.</div>
  <div class="alert alert-success" data-ng-if="vm.officehour.tas.length > 1" data-ng-bind="vm.officehour.tas.length.toString() + ' TAs have signed up for this office hour.'"></div>
  <div class="alert alert-success" data-ng-if="vm.officehour.tas.length == 1" data-ng-bind="'1 TA has signed up for this office hour.'"></div>

</section>
