<html lang="en"/>
<head>
    <link type="text/css" rel="stylesheet" href="modules/core/client/css/style.css"/>
    <title>OfficeHR</title>
</head>

<!--Main-->
<br/>
<section ng-controller="HomeController">
  <div class="text-center">
    <div class="row">
      <div id="logo">
        <img alt="OfficeHR"  src="modules/core/client/img/brand/office.png" />
      </div>
    </div>
    <br>
  </div>
  <div>
    <h1>Welcome to OfficeHR!</h1>
    <h3>The world's leading course organisation website.</h3>
    <h5>This website has different features to help you stay in tune with all of your classes: </h5>
    <ul>
      <li>
        Stay tuned with announcements. 
      </li>
      <li>
        Check your professors' office hours. You are not free at that time? Recommend one to your professor.
      </li>
      <li>
        See who uses this website! Click "Users" and see your peers, TAs and professors.
      </li>
      <li>
        We support you for your group work and to get in contact with your peers, TAs and professors. Give it a try with the chat feature!
      </li>
      <li>
        You can use your social media to sign up!
      </li>
      <li>
        Sign up now to join! Let us help you to stay tuned...
      </li>
      <li>Don't forget to edit your profile!</li>
      <lu>
        <strong> Have Fun! </strong>
      </lu>
    </ul>
  </div>
</section>

<!--Logo
<img class="myClass" src="modules/core/client/img/brand/uoftlogo.jpg" alt="Computer Science UofT logo"><br/>
<br/><br/><br/>-->
<!--Footer-->
<footer class="navbar-fixed-bottom">
        <a href="http://web.cs.toronto.edu/" target="http://web.cs.toronto.edu/" >Faculty of Computer Science</a>
        <br/>
        <element>Site is designed by Group Perfect.</element> <br/>
</footer>
</html>
