<script src="datetimepicker_css.js"></script>
<section>
  <div class="page-header">
    <h1>{{vm.officehour._id ? 'Edit Office hour' : 'New Office hour'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.officehourForm" class="form-horizontal" ng-submit="vm.save(vm.form.officehourForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name" >Class</label>
        <!--  <input ng-pattern="/[a-zA-Z]{3}\d{3}/i" name="class" type="text" ng-model="vm.officehour.class" id="class" class="form-control" placeholder="Class Name" required> -->
        <select class="form-control" name="orderByType" ng-model="vm.officehour.class" id="class" name="class">
          <div >
        <option value="" selected>Choose a class...</option>
        <option data-ng-if="class" data-ng-repeat="class in user.classes" ng-value="class" data-ng-bind="class | uppercase"></option>
      </div>
    </select>
          <div ng-messages="vm.form.officehourForm.class.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Office hour class is required.</p>
          </div>
          <label class="control-label" for="time">Date and Time</label>
          <!-- JS calendar used from http://www.rainforestnet.com/datetimepicker/datetimepicker-tutorial.htm-->
          <!-- We're legally allowed to use this because its under the BSD License -->
          <img src="modules/officehours/client/views/images2/cal.gif" onclick="javascript:NewCssCal('time');"style="cursor:pointer"/>
          <input name="time" ng-model="vm.officehour.time" id="time" class="form-control" placeholder="Date and Time" required>
          <div ng-messages="vm.form.officehourForm.time.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Office hour time is required.</p>
          </div>
        <label class="control-label" for="location">Location</label>
        <input ng-pattern="/[a-zA-Z]{2}\d+[a-zA-Z]*/i" name="location" type="text" ng-model="vm.officehour.location" id="location" class="form-control" placeholder="Location" required>
        <div ng-messages="vm.form.officehourForm.location.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Office hour location is required.</p>
        </div>

        <div ng-hide="true">
        <div data-ng-if="user.typeOfUser == 'professor'">
        <label class="control-label" for="professor">Professor</label>
        <div name="professor" type="text" ng-bind="user._id" id="professor" class="form-control">
      </div>
    </div>

      <div data-ng-if="user.typeOfUser != 'student' && !vm.officehour.professor">
      <label class="control-label" for="professor">Professor</label>
      <div name="professor" type="text" ng-bind="'None'" id="professor" class="form-control">
    </div>
    </div>

    <div data-ng-if="user.typeOfUser != 'student'">
    <label class="control-label" for="tas">TAs participating</label>
    <div name="tas" type="text" ng-bind="vm.officehour.tas.length" id="tas" class="form-control">
  </div>
  </div>
</div>

        <button type="submit" class="btn btn-default">{{vm.officehour._id ? 'Update' : 'Create'}}</button>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

      </div>
      </fieldset>
    </form>
</div>
</section>
