<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.officehour.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.officehour.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="officehours.edit({ officehourId: vm.officehour._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Requested on
      <span data-ng-bind="vm.officehour.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.officehour.user"
            data-ng-bind="vm.officehour.user.displayName"></span>
      <span data-ng-if="!vm.officehour.user">Deleted User</span>
    </em>
  </small>
  <h4 class="list-group-item-heading" data-ng-bind="vm.officehour.class | uppercase"></h4>
  Time: <div class="list-group-item" data-ng-bind="vm.officehour.time | date:'medium'"></div>
  Location: <div class="list-group-item" data-ng-bind="vm.officehour.location"></div>
  Length: <div data-ng-if="vm.officehour.length > 1" class="list-group-item" data-ng-bind="vm.officehour.length + ' hours'"></div>
  <div data-ng-if="vm.officehour.length == 1" class="list-group-item" data-ng-bind="vm.officehour.length + ' hour'"></div>

  Students interested: <div class="list-group-item">
    <span data-ng-bind="vm.officehour.students.length"></span>
  </div>

  <br />
  <div data-ng-if="user.typeOfUser == 'professor' && !vm.officehour.professor">
    <div name="professor" ng-bind="user._id" ng-model="vm.officehour.professor" id="professor" hidden></div>
   <button id="profButon" ng-click="vm.saveInterest(vm.officehour)" class="btn btn-default"> Participate in this office hour </button>
 </div>
 <div data-ng-if="user.typeOfUser == 'professor' && officehour.professorName == user.displayName">
   <div name="professor" ng-bind="user._id" ng-model="officehour.professor" id="professor" hidden></div>
   <button id="removeProfButton" ng-click="vm.saveDisInterest(vm.officehour)" class="btn btn-default"> Stop participating in this office hour </button>
</div>

        <div ng-show="officehour.user._id != user._id">
 <button id="taButton" ng-click="vm.saveInterest(vm.officehour)" data-ng-if="user.typeOfUser == 'ta'" class="btn btn-default"> Participate in this office hour </button>
 <button id="removeTAButton" ng-click="vm.saveDisInterest(vm.officehour)" data-ng-if="user.typeOfUser == 'ta'" class="btn btn-default"> Stop Participating in this office hour </button>
</div>

  <br />

  <div class="alert alert-danger" data-ng-if="!vm.officehour.professor">No professor signed up yet.</div>
  <div class="alert alert-success" data-ng-if="vm.officehour.professor">
  <span data-ng-if="!vm.officehour.professor.toString().contains('[')" ng-bind="vm.officehour.professorName + ' is'"></span>
  <span data-ng-if="vm.officehour.professor.toString().contains('[')" ng-bind="'You are'"></span>
  signed up for this office hour.
</div>
  <div class="alert alert-warning" data-ng-if="!vm.officehour.tas.length">No TAs signed up yet.</div>
  <div class="alert alert-success" data-ng-if="vm.officehour.tas.length > 1" data-ng-bind="vm.officehour.tas.length.toString() + ' TAs have signed up for this office hour.'"></div>
  <div class="alert alert-success" data-ng-if="vm.officehour.tas.length == 1" data-ng-bind="'1 TA has signed up for this office hour.'"></div>

  <div class="commentContainer" >
        <div class="list-group-item" data-ng-repeat="comment in vm.officehour.comments">
            <a data-ng-if="comment._id" ng-href="/users/{{comment._id}}">
              <img data-ng-if="comment.profileImageURL" ng-src="{{comment.profileImageURL}}" alt="Profile Image" width="20px;" height="20px;">
              <span data-ng-bind="comment.displayName"></span>
            </a>
            <span data-ng-bind="comment.time | date:'medium'"></span>
            <p style="padding-top:10px; text-indent:30px;" data-ng-bind="comment.text"></p>
        </div>
        <div ng-if="$scope.user" class="form-group">
          <label for="newComment">Comment:</label>
          <textarea class="form-control" ng-model="vm.officehour.commentSubmission" rows="5" class="newComment"></textarea>
        </div>
        <button class="submitCommentButton" ng-click="vm.saveComment(vm.officehour)" class="btn btn-default"> Submit comment </button>
  </div>
</section>
