<section class="row" ng-controller="EditProfileController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required>
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>

        <div class="form-group show-errors">
          <label for="classes">Classes</label>

          <input type="classes0" id="classes0"  ng-pattern="/[a-zA-Z]{3}\d{3}/i" name="classes0" class="form-control" ng-model="user.classes[0]" placeholder="Classes">
          <input type="classes1" id="classes1" ng-pattern="/[a-zA-Z]{3}\d{3}/i" name="classes1" class="form-control" ng-model="user.classes[1]" placeholder="Classes">
          <input type="classes2" id="classes2" ng-pattern="/[a-zA-Z]{3}\d{3}/i" name="classes2" class="form-control" ng-model="user.classes[2]" placeholder="Classes">
          <input type="classes3" id="classes3" ng-pattern="/[a-zA-Z]{3}\d{3}/i" name="classes3" class="form-control" ng-model="user.classes[3]" placeholder="Classes">
          <input type="classes4" id="classes4" ng-pattern="/[a-zA-Z]{3}\d{3}/i" name="classes4" class="form-control" ng-model="user.classes[4]" placeholder="Classes">
          <input type="classes5" id="classes5" ng-pattern="/[a-zA-Z]{3}\d{3}/i" name="classes5" class="form-control" ng-model="user.classes[5]" placeholder="Classes">
          <div ng-messages="userForm.classes[0].$error" role="alert">
            <p class="help-block error-text" ng-message="required">Classes are invalid. Enter a class like CSC309.</p>
          </div>
        </div>
          <br/>

        <div class="form-group" show-errors>
          <label for="typeOfUser">Type of User</label>
          <select required type="typeOfUser" id="typeOfUser" name="typeOfUser" class="form-control" ng-model="user.typeOfUser">
              <option value="student" selected>Student</option>
              <option value="ta">TA</option>
          </select>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Description</label>
          <input type="text" id="description" name="description" class="form-control" ng-model="user.description" placeholder="Description">
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Saved Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
