footer{
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
}

#image{
	position: absolute;
	bottom: 50px;
	text-align: center;
	margin-left: -150px;
	width: 20%;
}

.description p{
	font-size: 2em;
	font-style: bold;
}